*{
  margin: 0 0;
  padding: 0 0;
}

body{
  max-width: 1200px;
  margin: 0 auto;
}

.search-bar{
height: 120px;
border-bottom: 1px solid #777;
}

.search-bar .input{
  height: 50px;
  width: 70%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar .input input{
  width: 80%;
  height: 90%;
  border-radius: 5px;
}

.search-bar ul {
  margin-top: 20px;
  list-style: none;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}

.search-bar ul li {
  height: 80%;
  margin-left: 50px;
  display: block; 
  cursor: pointer;
}

.card-box{
  display: flex;
  margin: 20px 5px;
}

.card-box img{
  width: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.card-box .title{
  margin-left: 20px;
}